.checklist-item-container {
  margin-bottom: 4px;

  cursor: pointer;

  display: flex;
  flex-direction: row;
}

.checklist-item-container:hover {
  font-weight: 600;
  background-color: #eee;
}

.checklist-item-checkbox {
  margin-left: 3px;
  margin-right: 5px;
}

.checklist-item-ticker-ticked {
  color: red;
  font-weight: 800;
}