.explorer-container {
  background-color: #fff;

  max-height: 100%;
  max-width: 100%;
  margin: 50px 30px 50px 30px;
  padding: 3px;

  display: flex;
  flex-direction: column;

  border: 1px solid #000;
  border-radius: 4px;
}

.explorer-header {
  margin-bottom: 10px;

  height: 40px;
  font-size: 22px;

  display: flex;
  justify-content: center;
  align-items: center;

  text-transform: uppercase;
  letter-spacing: 4px;

  border-bottom: 2px dotted #ddd;
}

.explorer-body {
  height: 525px;

  display: flex;
  flex-direction: row;
}

.explorer-checklist {
  height: 100%;
  width: 30%;
}

.explorer-data {
  height: 100%;
  width: 100%;
}
