.table-container {
  width: 100%;
  height: 100%;
}

.table-container table {
  width: 100%;

  cursor: pointer;
}

.table-container thead td {
  padding-bottom: 8px;
  border-bottom: 1px solid #ddd;

  text-align: center;
  font-weight: 800;
}

.table-container tbody tr:hover {
  background-color: #eee;
  font-weight: 600;
}

.table-date-td {
  width: 100px;
}

.table-price-td {
  text-align: center;
}