.explorer-container {
  background-color: #fff;

  min-height: 350px;
  max-width: 100%;
  margin: 50px 30px 50px 30px;
  padding: 3px;

  display: flex;
  flex-direction: column;

  border: 1px solid #000;
  border-radius: 4px;

  -moz-user-select: none;
  -webkit-user-select: none;
  -user-select: none;
}

.explorer-header {
  margin-bottom: 15px;

  height: 40px;
  font-size: 22px;

  display: flex;
  justify-content: center;
  align-items: center;

  text-transform: uppercase;
  letter-spacing: 4px;

  border-bottom: 1px dotted #eee;
}

.explorer-body {
  display: flex;
  flex-direction: row;
}

.explorer-checklist {
  margin-top: 26px;

  height: 100%;
  width: 30%;
}

.explorer-data {
  height: 100%;
  width: 100%;
}

.explorer-data-empty-msg {
  font-weight: 600;
}
